.user-editor {
	padding-top: 1em;
  
	.add-new-credential-button {
	  margin-top: 10px;
	}
  
	.editor-actions {
	  margin-top: 30px;
	}
  
	.toggle {
	  font-weight: 400;
	  height: 49px;
	  min-height: 53.59px;
	  background-color: white;
	  border-radius: 0.4em;
	  border: 1px solid #e0e0e0;
	}
  
	.tab-container {
	  margin-top: 2em;
	}
  
	.option {
	  height: 3em;
	  line-height: 3em;
	}
  }
  