@use '~@angular/material' as mat;
@mixin navigation-component-theme($theme) {
	$accent: map-get($theme, accent);

	.navigation-bar {
		overflow: hidden;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;

		.active {
			color: mat.get-color-from-palette($accent);
		}

		.user-label {
			font-size: 14px;
		}

		.app-logo {
			margin-right: 30px;
			margin-left: 20px;
		}

		.profile-picture {
			border-radius: 50%;
			margin-left: 1em;
			width: 35px;
		}
	}

	.progress-bar {
		top: 64px;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	.consent-icon {
		color: orange;
	}
}
