.direct-link-mail-request {
	.mat-form-field {
		width: 100%;
	}

	.form-fields {
		margin-bottom: 30px;
	}

	.margin-top-20 {
		margin-top:20px;
	}

	.no-padding {
		padding:0;
	}
	
	.margin-top-20 {
		margin-top: 20px;
	}
}
