.document-listing-filters {
  margin: 0 0;

  .filter-actions {
    display: flex;
  }

  .toggle {
    font-weight: 400;
    height: 49px;
    min-height: 53.59px;
    background-color: white;
    border-radius: 0.4em;
    border: 1px solid #e0e0e0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  .no-padding-left {
    padding-left: 0;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 1em 0 !important;
}
