.totp {
	padding-top: 2em;
	padding-right: 1em;
	padding-left: 1em;


	.editor-actions {
		margin-top: 1em;
	}

	.header-centered {
		text-align: center;
	}

	.qr-code-image {
		margin: 4em;
	}

	.actions-row {
		margin-top: 1em;
	}

	.back-up-row {
		margin-top: 2em;
	}
}
